.form, .field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input[type='text'],
.form select {
    padding: 0.6rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1rem;
}
.form option {
    color: black;
}

.field ::placeholder {
    color: var(--white);
}

.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.6rem;
}